<script>
    // Initialize theme on page load
    const savedTheme = localStorage.getItem("pref-theme");
    const systemPrefersDark = window.matchMedia('(prefers-color-scheme: dark)').matches;
    const brandLogo = document.getElementById("brand-logo");

    // Function to set the logo based on the theme
    const setLogo = (isDark) => {
        if (brandLogo) {
            brandLogo.src = isDark ? "{{ .Site.Params.navbar.brandLogo }}" : "{{ .Site.Params.navbar.brandLogoLight }}";
        }
    };

    // Apply the saved or system theme
    const isDark = savedTheme === "dark" || (!savedTheme && systemPrefersDark);
    document.body.classList.toggle("dark", isDark);
    setLogo(isDark);

    // Handle theme toggle
    document.getElementById("theme-toggle")?.addEventListener("click", () => {
        const isDark = document.body.classList.toggle("dark");
        localStorage.setItem("pref-theme", isDark ? "dark" : "light");
        setLogo(isDark);
    });

    // Enable tooltips (if applicable)
    document.querySelectorAll('[data-bs-toggle="tooltip"]').forEach(tooltipTriggerEl => {
        new bootstrap.Tooltip(tooltipTriggerEl);
    });
</script>


{{ if not (.Site.Params.navbar.disableSearch | default false) }}
    <script src="{{ .Site.Params.staticPath }}/js/search.js"></script>
{{ end }}


{{ if or (.Params.mathjax | default false) (.Site.Params.mathjax) }}

{{ "<!-- MathJax -->" | safeHTML }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/3.2.2/es5/tex-mml-chtml.min.js" integrity="sha384-M5jmNxKC9EVnuqeMwRHvFuYUE8Hhp0TgBruj/GZRkYtiMrCRgH7yvv5KY+Owi7TW" crossorigin="anonymous"></script>

<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      tex2jax: {
        inlineMath: [['\\(','\\)']],
        displayMath: [['$$','$$'], ['\[','\]']],
        processEscapes: true,
        processEnvironments: true,
        skipTags: ['script', 'noscript', 'style', 'textarea', 'pre'],
        TeX: { equationNumbers: { autoNumber: "AMS" },
             extensions: ["AMSmath.js", "AMSsymbols.js"] }
      }
    });
</script>
{{ end }}

{{ if (.Site.Params.cloudinary_cloud_name | default false) }}

{{ "<!-- cloudinary -->" | safeHTML }}
<script src="https://unpkg.com/cloudinary-core@2.13.0/cloudinary-core-shrinkwrap.js" integrity="sha384-0bQduxVhZMs6xfvcPH9osdUIw44hjF8EahHuQBdyN6Rryk8tgyFO80Yz5d14F+5d" crossorigin="anonymous"></script>
<script type="text/javascript">
    var cl = cloudinary.Cloudinary.new({cloud_name: "{{- .Site.Params.cloudinary_cloud_name }}"}); 
    cl.responsive();
</script>

{{ end }}

{{ if (.Site.Params.contact.formspree.enable | default false) }}
<script src="{{ .Site.Params.staticPath }}/js/contact.js"></script>
{{ end }}

{{ if (.Site.Params.customScripts | default false) }}
{{ .Site.Params.customScripts | safeHTML }}
{{ end }}
